.hoverElementDiv {
    margin: 4;
    width: 400;
    height: 100px;
    background-color: rgb(95, 95, 95);
    transform: none;
    transition: all 0.5s ease;
}

.hoverElementDiv:hover {
    transform: translateX(4%);
}

.divText {
    transform: translate(160px, -100px);
    font-size: 200%;
    font-family: arial;
    color: #C4C4C4;
}

#playMazeSVG {
    transform: rotate(180deg);
}

#githubLogo {
    padding: 10px;
}

#gitHubDiv {
    background-color: rgb(33, 80, 209);
}

#githubDiv:hover {
    transform: translateX(4%);
}