.hoverElement {
    margin: 4;
    width: 400;
    height: 100px;
    background-color: rgb(95, 95, 95);
    transform: none;
    transition: all 0.5s ease;
}

.hoverElement:hover {
    transform: translateX(3%);
}

.divText {
    transform: translate(160px, -100px);
    font: arial;
    font-size: 200%;
    color: #C4C4C4;
}